* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

nav {
    display: flex;
    background-color: #d8a47f;
}

nav p {
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
    flex: auto;
}

aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

/* Image Placeholders */
.sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
        background: #f0cac5;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: #6dfaac;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #65abf1;
    }
}


/* ```
GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or avatar,
 and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport
``` */